*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body{
  width: 100%;
  height: 100%;

}
body{
  overflow: hidden;
  background-color: #ececec;
}
#loader{
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: anim2 1s cubic-bezier(0.19,1,0.22,1) 5s both;
}
#wrapperload{
  width: 500px;
  height: 100px;
  overflow: hidden ;
  /* background-color: black; */
}
#wrapperload .elem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #efefef; */

  
}
#wrapperload .elem img{
  width: 40%;
}
#wrapperload .elem img{
  width: 40%;
}
#wrapperload .elem:nth-child(1){
  animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1)1.5s both;
}
#wrapperload .elem:nth-child(2){
  animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1)3s both;
}
#wrapperload .elem:nth-child(3){
  animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1)4.5s both;
}
@keyframes anim {
  to{
    margin-top: -100px;
  }
  
}
@keyframes anim2 {
  to{
    transform: translateY(-100%);
  }
  
}
#bg {
  width: 100%;
  height: 100vh;
  background-color: white;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  /* background-color: #dadada; */
  margin:0 auto ;
  
}

nav img{
 width: 110px;

}
nav #link{
  display: flex;
  align-items: center;
}
nav #link a{
  margin-left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  opacity: .6;
}

nav #link i{
  margin-left: 50px;

}
nav #link a:nth-child(2){
  opacity: .4;
}
#sections{
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
}
#left{
  width: 50%;
  height:100% ;
  padding: 100px;
  /* background-color: black;  */
}
#left #smline{
  width: 90px;
  height: 3px;
 /* margin-top: 100px; */
 background-color: black;
}
#left h4{
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#left img {
  width: 650px;
  margin-top: 30px;
}

#left> h5{
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-top: 20px;
  font-weight: 800px;
  color: #d1d1d1;
}
#left> h5 span{
  color: #04c2c7
}

#playbtn img{
  width: 80px;
}


#playbtn{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#playbtn h5{
  margin-top: 20px;
  letter-spacing: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  opacity: .9
  

}
.bold{
  font-weight: 800;
  color: 04c2c7;

}
#contact{
   margin-top: 150px;
}
#contact h3{
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 11px;
  opacity: .8;
  font-weight: 800;
  margin-bottom: 20px;
}
#contact h6{
  font-size: 12px;
  margin: top 5px;
}
#contact h6 span{
  color: #04c2c7;
  letter-spacing: 2px;
}
#right{
  width: 50%;
  height: 100;
  /* background-color: #dadada; */
}
#right img{
  width: 100%;
}
#splash{
  position: absolute;
  left: -50px;
  top:70%;
  width: 150px;
}
@media all and (max-width: 700px){
  #left img{
    content:attr(img);
    width:100px;
    margin-top: 30px;
  }
}
  @media all and (max-width: 800px){
    #right img{
      content: attr(img);
      width: 50%;
      margin-left:  50%;;
  }  
}

